    html{
        cursor: url('/images/cursor.png'), auto;

    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-image: url('/images/back-game.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .back-btn{
        position: absolute;
        left: 50px;
        top: 50px;
        font-size: 30px;
        color: rgba(255, 255, 255, 0.605);
        transition: .2s ease;
        padding: 10px;
    }
    .back-btn:hover{
        left: 45px;
        color: white;
    }

    .gui-bar {
        position: absolute;
        height: 13px;
        width: 95px;
        z-index: 10;
        top: 77px;


    }

    .gui-bar#life, #life + .back {
        margin-left: 42px;

    }
    .gui-bar#food , #food + .back{
        margin-left: 42px;
        margin-top:  101px;
    }
    .gui-bar#stamina,  #stamina + .back{
        margin-left: 42px;
        margin-top:  50px;

    }
    .moldura_life{
        position: absolute;
        z-index: 4;
    }
    .pause{
        position: absolute;
        margin-left: 850px;
        margin-top: 10px;
        z-index: 99;
        font-size: 30px;
        color: #fff9ca91;
        transition:.2s ease-in-out ;
    }
    .pause:hover{
        color: #ffe76cdd;
    }

    .pause.active{
        color: #ffe101c4;
    }

    #effect{
        position: absolute;
        width: 882px;
        height: 682px;
        border: 9px solid #a1000078;
        border-radius: 2px;
        opacity: 0;
        transition: .1s ease;
    }
    .gui-value {
        height: 100%;
        width: 100%;
        z-index: 3;
        transition: .3s ease;
        border-radius: 5px;
        border-top-right-radius: 11px !important;
        border-bottom-right-radius: 11px !important;
        box-shadow: 2px 0px 2px #3b240dc2
    }
    #food .gui-value {
        background-image: linear-gradient(to top, #7ea100 50%, #8db400 51%);
    }
    #life .gui-value {
        background-image: linear-gradient(to top, #bd0000 50%, #e80000 51%);
    }
    #stamina .gui-value {
        background-image: linear-gradient(to top, #0065be 50%,  #0079e3 51%);
    }

    .borda-ouro {
        background: #654c4cb8;
        width: 900px;
        height: 700px;
        padding: 50px 50px 50px 50px;
        border-radius: 20px;
        box-shadow: 0px 0px 20px #000000;
    }

    #rpg{
        display: flex;
        /* box-shadow: 0px 0px 30px #171717; */

    }
    #gyui{
        z-index: 11;
        opacity: 0;
    }
    .menu{
        position: absolute;
        margin: 50px 200px ;
        background: #4f0035d5;
        border:3px solid #f9dd95;
        min-width: 500px;
        min-height: 600px;
        display: none;
        opacity: 0;
        z-index: 11;
        justify-content: center;
        align-items: center;
        transition:.8s ease all ;

    }

    .menu li{
        list-style:none!important;
        font-family: 'Pixelify Sans';
        font-size: 50px;
        color: #ffffff;
        text-align: center;
        line-height: 2.5em;
        transition: .1s ease all;
    }
    .menu li:hover{
        transform: scale(1.1);
        color: #f9dd95;
        cursor: pointer;
    }

    .menu.active{
        opacity: 1 !important;
        display: flex !important;
    }

    #save.saved{
        color: #1da100;
        pointer-events: none;
    }
    .back-menu{
        opacity: 0;
        transition: .4s ease all;
    }
    .back-menu.active{
        position: absolute;
        width: 900px;
        height: 700px;
        background: #00000049;
        z-index: 9;
        opacity: 1;
    }
    .inventory{
        position: absolute;
        display: none;
        opacity: 0;
        width: 610px;
        height: 440px;
        margin: 150px 150px
    }

    .inventory.active{
        display: flex !important;
        flex-direction: row !important;
        opacity: 1 !important;
        z-index: 11;
        background-repeat: no-repeat;
        background-image: url('/images/inventory.png')
    }

    .inventory.active .row{
        display: flex;
        flex-direction: row;
        min-width: 500px;
        width: 500px;
        flex-wrap: wrap;
        align-items: flex-start!important;
        align-content: flex-start;
        justify-content: flex-start;
    }
    .inventory .item{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 69px;
        width: 69px;
        min-height: 70px;
        height: 70px;
        overflow: hidden;

    }
    .inventory .item span{
        position: absolute;
        margin-left: 45px;
        margin-top: 45px;
        color: #ffffff;
        font-family: 'Pixelify Sans';
        font-size: 23px;
        font-weight: bold;
        text-shadow: -3px 3px 6px #000000;
    }
    .inventory .stats{
        position: absolute;
        margin :10px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 280px;
        height: 70px;
        overflow: hidden;

    }
    .inventory .stats .stats_row{
        display: flex;
        flex-direction: row;
        margin :0px 10px;
        overflow: hidden;
        color: #ffffff;
        font-family: 'Pixelify Sans';
        font-size: 18px;
        font-weight: bold;
        text-shadow: -3px 3px 6px #000000;
    }

    .inventory_equip{
        position: absolute;
        display: none;
        opacity: 0;
        width: 610px;
        height: 440px;
        margin: 150px 150px
    }

    .inventory_equip.active{
        display: flex !important;
        /* flex-direction: row-reverse; */
        opacity: 1 !important;
        z-index: 11;
        background-repeat: no-repeat;
        background-image: url('/images/inventory_equip.png')
    }
    .inventory_equip.active .row_single{
        display: flex;
        flex-direction: row;
        min-width: 140px;
        width: 140px;
        flex-wrap: wrap;
        /* align-items: flex-end!important;
        align-content: flex-end; */
        /* justify-content: flex-end; */
        /* margin-right: 96px !important; */
    }
    .inventory_equip.active .row_equip{
        display: flex;
        flex-direction: row;
        min-width: 140px;
        width: 140px;
        flex-wrap: wrap;
        align-items: flex-start!important;
        align-content: flex-start;
        justify-content: flex-start;
        margin-right: 68px !important;
    }
    .inventory_equip.active .row_double{
        display: flex;
        flex-direction: column;
        min-width: 140px;
        width: 140px;
        flex-wrap: wrap;
        align-items: flex-start!important;
        align-content: flex-start;
        justify-content: flex-start;
    }

    .inventory_equip .item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 69px;
        height: 70px;
        overflow: hidden;

    }

    .inventory_equip .item_double{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 144px;
        height: 69px;
        overflow: hidden;

    }

    .inventory_equip .item span{
        position: absolute;
        margin-left: 45px;
        margin-top: 45px;
        color: #ffffff;
        font-family: 'Pixelify Sans';
        font-size: 23px;
        font-weight: bold;
        text-shadow: -3px 3px 6px #000000;
    }
    .inventory_equip .stats_equip{
        position: absolute;
        margin :10px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 280px;
        height: 70px;
        overflow: hidden;

    }
    .inventory_equip .stats_equip .stats_row{
        display: flex;
        flex-direction: row;
        margin :0px 10px;
        overflow: hidden;
        color: #ffffff;
        font-family: 'Pixelify Sans';
        font-size: 18px;
        font-weight: bold;
        text-shadow: -3px 3px 6px #000000;
    }



    .prox{
        position: absolute;
        margin : 392px 0 0 547px;
        opacity: .6;
        transition: all .2s ease;

    }
    .prox:hover{
        transform: scale(1.1);
        opacity: 1;
    }
    .ant{
        position: absolute;
        margin: 392px 0 0 547px;
        opacity: .6;
        transition: all .2s ease;
    }
    .ant:hover{
        transform: scale(1.1);
        opacity: 1;
    }
    #item_drop{
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        margin: 500px 0px 0px 30px;
        scale: 1;

    }

    #item_drop :nth-last-child(n+2) {
        scale: .8;
    }

    .item_show {
        margin: 5px;
        opacity: 1;
    }

    .item_div{
        position: relative;
        flex-direction: row;
        display: flex;
        animation: collect 4s linear forwards;

    }

    .item_last_collected {
        opacity: 1;
        transform: scale(1.1);
    }

    .item-text{
        color: #ffffff;
        font-family: 'Pixelify Sans';
        float: right;
        font-size: 18px;
        font-weight: bold;
        text-shadow: -3px 3px 6px #000000;

    }


    @keyframes collect {
        0% { transform: scale(1.2); opacity: 1; }
        10% { transform: scale(1) ;}
        90% { opacity: .8; top:0;}
        100% { opacity: 0; top: 10px;}
    }

    #keydown{
        opacity: 0;
        color: #dee9f3;
        position: absolute;
        margin-left: 750px;
        margin-top: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: .2s ease;
    }

    #keydown.key_show{
        opacity: 1;
    }

    #loading-page{border:1px solid orange;justify-content: center;display: flex;width:900px;height: 700px;margin:0;padding:0;border:0;position:absolute;z-index: 9;}
      #loading-bar div{
        display:inline-block;
        color:white;
        font-size:4em;
        font-family:'Oswald';
        font-stretch:expanded;
      }
    #loading-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        }
      #loading-bar div:nth-child(1){
        -webkit-animation:textGlow 1400ms infinite;
        -webkit-animation-delay:0;
        -moz-animation:textGlow 1400ms infinite;
        -moz-animation-delay:0;
        -o-animation:textGlow 1400ms infinite;
        -o-animation-delay:0;
      }
      #loading-bar div:nth-child(2){
        -webkit-animation:textGlow 1400ms infinite;
        -webkit-animation-delay:100ms;
        -moz-animation:textGlow 1400ms infinite;
        -moz-animation-delay:100ms;
        -o-animation:textGlow 1400ms infinite;
        -o-animation-delay:100ms;
      }
      #loading-bar div:nth-child(3){
        -webkit-animation:textGlow 1400ms infinite;
        -webkit-animation-delay:200ms;
        -moz-animation:textGlow 1400ms infinite;
        -moz-animation-delay:200ms;
        -o-animation:textGlow 1400ms infinite;
        -o-animation-delay:200ms;
      }
      #loading-bar div:nth-child(4){
        -webkit-animation:textGlow 1400ms infinite;
        -webkit-animation-delay:300ms;
        -moz-animation:textGlow 1400ms infinite;
        -moz-animation-delay:300ms;
        -o-animation:textGlow 1400ms infinite;
        -o-animation-delay:300ms;
      }
      #loading-bar div:nth-child(5){
        -webkit-animation:textGlow 1400ms infinite;
        -webkit-animation-delay:400ms;

        -moz-animation:textGlow 1400ms infinite;
        -moz-animation-delay:400ms;
        -o-animation:textGlow 1400ms infinite;
       -o-animation-delay:400ms;
      }
      #loading-bar div:nth-child(6){
        -webkit-animation:textGlow 1400ms infinite;
        -webkit-animation-delay:500ms;
        -moz-animation:textGlow 1400ms infinite;
        -moz-animation-delay:500ms;
        -o-animation:textGlow 1400ms infinite;
       -o-animation-delay:500ms;
      }
      #loading-bar div:nth-child(7){
        -webkit-animation:textGlow 1400ms infinite;
        -webkit-animation-delay:600ms;
        -moz-animation:textGlow 1400ms infinite;
        -moz-animation-delay:600ms;
        -o-animation:textGlow 1400ms infinite;
       -o-animation-delay:600ms;
      }
      @-webkit-keyframes textGlow{
        0%{
          text-shadow:0 0 0 0;
        }
        50%{
          text-shadow: 0 0 20px #fff;
        }
        100%{
          text-shadow:0 0 0 0;
        }
      }
      @-moz-keyframes textGlow{
        0%{
          text-shadow:0 0 0 0;
        }
        50%{
          text-shadow: 0 0 20px #fff;
        }
        100%{
          text-shadow:0 0 0 0;
        }
      }
